#titleLabel {

}

.root {
    -fx-background-color: #505050;
}

.button {
    -fx-background-color: #3B5BC0;
    -fx-text-fill: #FFFFFF;
}

.button:pressed {
    -fx-background-color: #6B7BE0;
}

.buttonInToolBar {
    -fx-background-color: transparent;
}

.buttonInToolBar:hover {
    -fx-background-color: #FFFFFF18;
}

.buttonInToolBar:pressed {
    -fx-background-color: #FFFFFF30;
}

.menu-bar {
    -fx-background-color: #3B3B3B;
}

.context-menu {
    -fx-background-color: #3B3B3B;
    -fx-border-color: #AAAAAA;
    -fx-pref-width: 150.0;
}

.tool-bar {
    -fx-background-color: #5A5A5A;
    -fx-border-color: #303030;
}

.track-bar, .scroll-bar {
    -fx-background-color: #5A5A5A;
}

.track-bar-resize:hover {
    -fx-cursor: e-resize;
}

.debug {
    -fx-background-color: red;
}

.label {
    -fx-font-family: Ubuntu;
    -fx-text-fill: white;
    -fx-font-size: 10pt;
}

.scroll-pane {
    -fx-background-color: transparent;
    -fx-border-color: #303030;
}

.scroll-bar .increment-button,
.scroll-bar .decrement-button{
    -fx-pref-width: 0.0;
    -fx-pref-height: 0.0;
}

.scroll-bar .increment-arrow,
.scroll-bar .decrement-arrow {
    -fx-shape: " ";
}

.scroll-bar .thumb {
    -fx-background-color: #FFFFFF30;
    -fx-background-radius: 0.0em;
}

.scroll-bar .thumb:hover {
    -fx-background-color: #FFFFFF50;
}
