#titleLabel {

}

.root {
    -fx-background-color: #E3E3E3;
}

.button {
    -fx-background-color: #3B5BC0;
    -fx-text-fill: #FFFFFF;
}

.button:pressed {
    -fx-background-color: #6B7BE0;
}

.buttonInToolBar {
    -fx-background-color: transparent;
}

.buttonInToolBar:hover {
    -fx-background-color: #00000018;
}

.buttonInToolBar:pressed {
    -fx-background-color: #00000030;
}

.menu-bar {
    -fx-background-color: #D0D0D0;
}

.context-menu {
    -fx-background-color: #D0D0D0;
    -fx-border-color: #7A7A7A;
    -fx-pref-width: 150.0;
}

.tool-bar {
    -fx-background-color: #D0D0D0;
    -fx-border-color: #7A7A7A;
}

.track-bar, .scroll-bar {
    -fx-background-color: #E3E3E3;
}

.track-bar-resize:hover {
    -fx-cursor: e-resize;
}

.debug {
    -fx-background-color: red;
}

.label {
    -fx-font-family: serif;
    -fx-text-fill: black;
}

.scroll-pane {
    -fx-background-color: transparent;
    -fx-border-color: #303030;
}

.scroll-bar .increment-button,
.scroll-bar .decrement-button{
    -fx-pref-width: 0.0;
    -fx-pref-height: 0.0;
}

.scroll-bar .increment-arrow,
.scroll-bar .decrement-arrow {
    -fx-shape: " ";
}

.scroll-bar .thumb {
    -fx-background-color: #00000030;
    -fx-background-radius: 0.0em;
}

.scroll-bar .thumb:hover {
    -fx-background-color: #00000050;
}
