
.button-in-trackbar, .mute, .visibility {
    -fx-background-color: #FFFFFF32;
    -fx-background-size: 24px 24px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}

.mute:hover, .visibility:hover, .button-in-trackbar:hover {
    -fx-background-color: #00000018;
}

.mute:pressed, .visibility:pressed, .button-in-trackbar:pressed {
    -fx-background-color: #00000036;
}

.mute {
    -fx-background-image: url(../images/unmute.png);
}

.mute:selected {
    -fx-background-image: url(../images/mute.png);
}

.visibility {
    -fx-background-image: url(../images/visible.png);
}

.visibility:selected {
    -fx-background-image: url(../images/invisible.png);
}
